body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #5f5e61;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #f3f3f3;
    font-family: monospace;;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    display: flex;
    align-items: flex-end;
}
.logo .Quiz{
    color: #ffeb3b;
    font-size: 14px;
}

.logout , .menu-btn{
    background: transparent;
    color: #fff;
    border: none;
    font-size: 22px;
    float: right;
    margin-top: 6px;
}
a{
    text-decoration: none;
}