@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Share+Tech+Mono&display=swap');

body {
    background-color: #202120;
}

h1 {
    font-family: cursive;
    font-weight: 900;
    font-size: 4rem;
}

h2 {
    font-family: cursive;
    font-weight: 900;
    font-size: 3rem;
    color: white;
    color: rgba(255, 255, 255, 0.85);
}

h3 {
    font-family: cursive;
    text-transform: uppercase;
    font-size: 1rem;
    color: #4399db;
    display: inline-block;
    border-left: 3px solid #1f5178;
    border-top: 1px solid #1f5178;
    border-right: 1px solid #1f5178;
    border-bottom: 1px solid #1f5178;
    padding: 4px 8px;
    margin-bottom: 1.2rem;
}

h4 {
    font-family: cursive;
}

p {
    font-family: cursive; 
    color: white;
    color: rgba(255, 255, 255, 0.85);
}

code {
    display: inline-block;
    background-color: #313531;
    font-family: cursive;
    padding: 3px 5px 0 5px;
    font-weight: normal;
    border: #404950 solid 1px;
    border-radius: 10px;
    color: #d8ebff;
}
code:hover{
    background:#4399db ;
    color: #000;
}

button code {
    background-color: #163c58;
    border: #14364e solid 1px;
    
}

.container--mx-width {
    max-width: 800px;
}

.btn--main-style {
    background-color: #1f5178;
    box-shadow: 0 5px 8px 2px #131c24;
    color: white;
    font-family: cursive;
    display: block;
    margin-bottom: 1.2rem;
}

.btn--lg-pad {
    padding: .8rem 2.5rem;
}

.btn:hover {
    box-shadow: 0 1px 1px 0 #02121f;
    color: #4399db;
    transition: .3s;
}

.btn:active {
    box-shadow: none;
    background-color: #1b4768;
    background-color: rgba(31, 81, 120, 0.6);
    transition: .3s;
}
.navbar {
    font-size: 18px;
    background-color: #232323;
    border-bottom: #101010 1px solid;
}

.menu{
    text-decoration: none;
    float: right;
    margin-right: 10px;
    color: #fff;
    font-size: 16px;
    font-family: cursive;
    border: 1px solid #202120;
    border-radius: 5px;
}
.menu:hover{
    background: #3e3a3a;
    font-size: 20px;
};


.nav__timer {
    color: white;
    color: rgba(255, 255, 255, 0.85);
    font-family: 'Share Tech Mono', monospace;
}

#timeLeft {
    font-weight: bold;
    color: white;
}

.navbar__logo {
    font-size: 23px;
    text-decoration: none;
    font-family: cursive;
    color: #1f5178;
    margin: 5px;
}
.navbar__logo:hover{
    color: #4399db;
}

#viewScore {
    color: #4399db;
    font-family: 'Share Tech Mono', monospace;
    background: none;
    border: none;
}

#viewScore:hover {
    color: #3a80b6;
    color: rgba(67, 153, 219, 0.7);
    transition: .4s;
    text-decoration: none;
}
.start-content {
    color: white;
    text-align: center;
}
.question--style {
    font-size: 28px;
    margin-bottom: 2rem;
}

.hide {
    display: none;
}

.show {
    display: block;
}
.feedback {
    color: white;
    color: rgba(255, 255, 255, 0.85);
    font-size: 28px;
    margin-top: 2.5rem;
}

.feedback--correct-color {
    color: #ffdf39;
}

.feedback--wrong-color {
    color: #ff4e24;
}

#correctFeedback {
    border-top: #101010 1px solid;
    padding-top: 1rem;
}

#wrongFeedback {
    border-top: #101010 1px solid;
    padding-top: 1rem;
}
#completedDisplay {
    color: white;
    text-align: center;
}

#finalScore {
    font-weight: bold;
    color: white;
    font-family: 'Share Tech Mono', monospace;
}

.completed__form {
    background-color: #232323;
    padding: 40px;
    max-width: 400px;
    box-shadow: 0 5px 8px 2px #1c1d1c;
    margin: 1rem auto;
}

.form-control {
    background-color: #14181b;
    border: 1px solid #303335;
}
#highscoreDisplay {
    color: white;
    text-align: center;
}

.scores {
    background-color: #232323;
    padding: 10px 20px;
    max-width: 400px;
    box-shadow: 0 5px 8px 2px #1c1d1c;
    margin: 1rem auto;
}

li {
    padding: 1rem .5rem;
    list-style: none;
    border-bottom: #101010 1px solid;
    font-family: 'Share Tech Mono', monospace;
}

li:nth-child(even) {
    background-color: #1b1d1b;
}

li:last-child {
    border: none;
}

.btn-group {
    margin: 0 auto;
}


#playAgainBtn,
#clearBtn {
    margin: 1rem 10px;
}